.section {
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  padding: 1rem;

  scroll-margin-top: 5.5rem;
}

@media (min-width: 768px) {
  .section {
    padding: 2rem;
  }
}
